# Name: Muhammad Musa 
# Email: muhammadmusaimran18.10e@gmail.com
______________________________________________________________________________________________________________________________________________

Write a program that uses a while loop to print all even numbers from 0 to 20.

In [1]:
n=0
while n<=20:
    if(n%2==0):
        print(n)
    n+=1

0
2
4
6
8
10
12
14
16
18
20

Create a program that uses a for loop to iterate over a list of fruits and print each
fruit with its index using enumerate.

In [11]:
fruits=["apple","pineapple","orange"]
for i in enumerate(fruits):
    print(i)

(0, 'apple')
(1, 'pineapple')
(2, 'orange')

In [4]:
fruits=["apple","pineapple","orange"]
for index,i in enumerate(fruits,start=1):
    print(index,i)

1 apple
2 pineapple
3 orange

Write a program that generates a multiplication table (from 1 to 10) using nested
loops.

In [12]:
num=int(input("Enter the number for which you want the table till 10: "))
for i in range(1,10+1):
    print(num,"x",i,"=",num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [5]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i,"X",j,"=",i*j)
    print()

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

Create a program that prompts the user to guess a secret number (e.g., 7). Use a
while loop and a break statement to exit the loop once the correct number is
guessed.

In [15]:
num=int(input("Enter the secert number "))
while True:
    if num==7:
        print("you won you found the number")
        break
    else:
        print("wrong number try again")
        num=int(input("Enter the secert number "))

wrong number try again
wrong number try again
wrong number try again
you won you found the number

Write a program that prints numbers from 1 to 20 but skips the multiples of 3
using a continue statement.

In [16]:
for i in range(1,20+1):
    if (i%3==0):
        continue
    else:
        print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

Create a program that checks a list of numbers and uses the pass statement for
non-positive numbers while processing only positive numbers.

In [18]:
nums=[10,12,-5,20,56,-78,2]
for i in nums:
    if i>=0:
        print(i)
    else:
        pass

10
12
20
56
2

Write a function that takes a list of integers and returns a new list containing only
the even numbers.

In [9]:
def even_only(nums):
    t=0
    new_list=[]
    for i in nums:
        if i%2==0:
            new_list.append(i)
            t+=1
    return new_list

nums=[12,35,14,17,19,2,10,33,16]
newlist=even_only(nums)
print(newlist)

[12, 14, 2, 10, 16]

9. Create a program that takes two lists and converts them into sets. Find and print
the common elements between the two sets.

In [16]:
list1=[12,35,14,17,19,2,10,33,16]
list2=[5,36,9,33,74,4,84,2,12,10]
list1=set(list1)
list2=set(list2)
com_in_list=list1.intersection(list2)
print(com_in_list)

{33, 2, 10, 12}

10.Write a program that uses nested loops to create a 3x3 grid of asterisks (*) and
prints it.

In [14]:
for i in range(3):
    for j in range(3):
        print("*",end=" ")
    print()

* * *
* * *
* * *

In [35]:
x=10
y=10
x is y

True

11.Create a program that defines a tuple of cities and uses enumerate to print the
city names along with their positions in the tuple.

In [26]:
citytuple=("Lahore","Multan","Rawalpindi",)
for index,i in enumerate(citytuple,start=1):
    print(index,i)

1 Lahore
2 Multan
3 Rawalpindi

12.Write a program that takes a list of names and creates a dictionary where each
name is a key and its length is the value.

13.Create a program that defines two sets of numbers and demonstrates the union,
intersection, and difference between them.

In [18]:
set3={1,2,3,4,5}
set4={8,9,2,5,4,46}
unionset=set4.union(set3)
intersectionset=set4.intersection(set3)
complementset=unionset-intersectionset
print("union:",unionset)
print("Intersection:",intersectionset)
print("complementset:",complementset)

union: {1, 2, 3, 4, 5, 8, 9, 46}
Intersection: {2, 4, 5}
complementset: {1, 3, 8, 9, 46}