# Name: Muhammad Musa 
# Email: muhammadmusaimran18.10e@gmail.com

________________________________________________________________________________________________________________

# multiy line comment

"""
"""

or 
'''
'''
# single line coment  is 
(#)

In [9]:
print("hello world 1")
'''
print("hello world 1")
print("hello world 1")
'''
print("hello world 1")


print("hello world 1")
"""
print("hello world 1")
print("hello world 1")    
    
"""

print("hello world 1")
print("hello world 1")

hello world 1
hello world 1
hello world 1
hello world 1
hello world 1

# indendent issue is space issue

# variables

In [10]:
age=20
name="Ali"
char='a'
x=y=z=10
char1=a # in notebook form all the variables are connected as a is connected to 5 in the first code box thats why it is not giving an error
print (x)
print(y+z)
q,W,R=20.40,13,50
print(q)
print(W+R)
print (type(x))
print (type(char))
print (type(name))
print (type(q))
print (type(char1))
print (char1)

NameError: name 'a' is not defined

# type casting an important topic

# int to float

In [11]:

x=17
print (type(x))
y=float(x)
print (x+y)

print (float(x))
print (type(y))

<class 'int'>
34.0
17.0
<class 'float'>

 # float to int

In [14]:
x=17.78
print (type(x))
y=int(x)+6
print (x+y)

print (int(x))
print (type(y))

<class 'float'>
40.78
17
<class 'int'>

# int to str

In [15]:

x=17
print (type(x))
y=str(x)
print (y)
# print (x+y) it is not possible to add an int and a string 

print (type(str(x)))
print (type(y))

<class 'int'>
17
<class 'str'>
<class 'str'>

# to delete a variable

In [16]:
x=567
print (x)
del x
# all x varable are no deleted in the note book so commenting its print

# print (x)

567

# multiy  line printing

In [17]:
X=100
U=788
T=24
print("helloworld1","Helloworld2","helloworld3")
print (X,U,T)
print("helloworld1","Helloworld2","helloworld3", sep='%%%') #sep to add somithing instead of space
print("helloworld1","Helloworld2",end= ' = ',sep='~~~')
print("helloworld3")
print("my name is"+name+"my age is",age)
print("my name is",name,"my age is",age)
print("my name is"+name+"my age is"+str(age))
print(f"my name is {name} my age is{age}")

helloworld1 Helloworld2 helloworld3
100 788 24
helloworld1%%%Helloworld2%%%helloworld3
helloworld1~~~Helloworld2 = helloworld3
my name isAlimy age is 20
my name is Ali my age is 20
my name isAlimy age is20
my name is Ali my age is20

# input in python

In [18]:
name=input("ENter Your name")
# name is updated by user 
print("my name is "+name+" my age is",age)

my name is ufpuyt\ my age is 20

In [19]:
x=input("enter Value of x")
print(x)
print(type(x))
x=int(input())
print(x)
print(type(x))

ffg
<class 'str'>

ValueError: invalid literal for int() with base 10: 'jhg'

# unpaking a list also using + for output

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

apple
banana
cherry
Python is awesome

# Global Variables

In [ ]:
x = "awesome"

def myfunc1():
  print("Python is " + x)

myfunc1()
def myfunc():
#   global x
  x = "fantastic"

myfunc1()

print("Python  " + x)

Python is awesome
Python is awesome
Python  awesome

In [ ]:
x = "awesome"

def myfunc1():
  print("Python is " + x)

myfunc1()
def myfunc():
  global x
  x = "fantastic"
myfunc()
myfunc1()

print("Python  " + x)

Python is awesome
Python is fantastic
Python  fantastic

# Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

# data types
> number
  >int 
  >float
  >complex
> boolean 

> string 

> list 

> tuple

> set 

> dictionary

In [ ]:
def ty():
 print (x)
 print (type(x))
 print ("\n ")

x = "Hello World"	#str	
ty()
x = 20	#int	
ty()
x = 20.5	#float	
ty()
x = 1j	#complex	
ty()
x = ["apple", "banana", "cherry"]	#list	
ty()
x = ("apple", "banana", "cherry")	#tuple	
x = range(6)	#range	
ty()
x = {"name" : "John", "age" : 36}	#dict	
ty()
x = {"apple", "banana", "cherry"}	#set	
ty()
x = frozenset({"apple", "banana", "cherry"})	#frozenset	
ty()
x = True	#bool	
ty()
x = b"Hello"	#bytes	
ty()
x = bytearray(5)	#bytearray	
ty()
x = memoryview(bytes(5))	#memoryview	
ty()
x = None	#NoneType
ty()

Hello World
<class 'str'>


20
<class 'int'>


20.5
<class 'float'>


1j
<class 'complex'>


['apple', 'banana', 'cherry']
<class 'list'>


range(0, 6)
<class 'range'>


{'name': 'John', 'age': 36}
<class 'dict'>


{'banana', 'cherry', 'apple'}
<class 'set'>


frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>


True
<class 'bool'>


b'Hello'
<class 'bytes'>


bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>


<memory at 0x0000020BA8AEC880>
<class 'memoryview'>


None
<class 'NoneType'>

# NUMBERS

In [ ]:
x=100
y=50.23
z= 10+25j
print(type(x),type(y),type(z),sep='\n')

<class 'int'>
<class 'float'>
<class 'complex'>

# Boolean Values
In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# Evaluate Values and Variables
The bool() function allows you to evaluate any value, and give you True or False in return,

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

# Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

# Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [ ]:
print(bool(False))
print(bool(None))

print(bool(0))

print(bool(""))

print(bool(()))

print(bool([]))

print(bool({}))

False
False
False
False
False
False
False

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a (__ len __) function that returns 0 or False:

In [ ]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

# Functions can Return a Boolean
You can create functions that returns a Boolean Value:

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

In [ ]:
# print "YES!" if the function returns True, otherwise print "NO!":
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [ ]:
x = 200
print(isinstance(x, int))

True

In [ ]:
x=True
y=False
print(type(x),type(y),sep='\a')
if(0):
    print("Hello")
elif(1):
    print("World")
    # 0=false and 1=true

<class 'bool'><class 'bool'>
World

# List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [21]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

# List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.
# Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Note: There are some list methods that will change the order, but in general: the order of the items will not change.
# Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.
# Allow Duplicates
Since lists are indexed, lists can have items with the same value:



# List Methods

Python has a set of built-in methods that you can use on lists.

| Method	| Description
|:-----: | :---|
| append()	| Adds an element at the end of the list
| clear()	| Removes all the elements from the list
| copy()	| Returns a copy of the list
| count()	| Returns the number of elements with the specified value
| extend()    | Add the elements of a list (or any iterable), to the end of the current list
| index()	| Returns the index of the first element with the specified value
| insert()	| Adds an element at the specified position
| pop()	| Removes the element at the specified position
| remove()	| Removes the item with the specified value
| reverse()	| Reverses the order of the list
| sort()	| Sorts the list

In [22]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

# list.index()

In [23]:
my_list = ['apple', 'banana', 'cherry', 'banana', 'kiwi']

# Find the index of the first occurrence of 'banana'
index = my_list.index('banana')
print(index)

1

In [24]:
my_list = ['apple', 'banana', 'cherry', 'banana', 'kiwi']

# Search for 'banana' starting from index 2
index = my_list.index('banana', 2)
print(index)

3

# List Length
To determine how many items a list has, use the len() function:

Example

In [25]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

# List Items - Data Types
List items can be of any data type:

Example

In [26]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
# A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]

# type()
From Python's perspective, lists are defined as objects with the data type 'list':

<class 'list'>

In [27]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

# The list() Constructor
It is also possible to use the list() constructor when creating a new list.

In [28]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# Access Items
List items are indexed and you can access them by referring to the index number:

In [29]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

# Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [30]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

# Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

Example

Return the third, fourth, and fifth item:

In [31]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

By leaving out the start value, the range will start at the first item:

Example
This example returns the items from the beginning to, but NOT including, "kiwi":

In [32]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

Example
This example returns the items from "cherry" to the end:

In [33]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

# Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the list:

Example
This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

In [34]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

Check if Item Exists
To determine if a specified item is present in a list use the in keyword:

Example

In [35]:
# Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [36]:
# Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    pass
else:
  print("Yes, 'apple' is in the fruits list")

# Python - Change List Items
# Change Item Value
To change the value of a specific item, refer to the index number:

In [37]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

# Change a Range of Item Values
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [38]:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [39]:
'''
If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

Example
Change the second value by replacing it with two new values:
'''
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

 The length of the list will change when the number of items inserted does not match the number of items replaced.

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

Example
Change the second and third value by replacing it with one value:

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

# Insert Items
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [41]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [42]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, input("enter the fruit name in the list"))
print(thislist)

['apple', 'banana', 'kiwi', 'cherry']

# Append Items
To add an item to the end of the list, use the append() method:

Example: 
+ Using the append() method to append an item:

In [43]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

# Insert Items
To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

Example
Insert an item as the second position:

In [44]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

 # Extend List
To append elements from another list to the current list, use the extend() method.

Example
Add the elements of tropical to thislist:

In [45]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# Add Any Iterable
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [46]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

# Python - Remove List Items

# Remove Specified Item
The remove() method removes the specified item.

Example

Remove "banana":

In [47]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

# If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [48]:

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

# Remove Specified Index

# The pop() method removes the specified index.

If you do not specify the index, the pop() method removes the last item.

# The del keyword also removes the specified index:
Remove the first item:

The del keyword can also delete the list completely.

In [49]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [50]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.pop()
print(thislist)

['apple', 'banana', 'cherry', 'banana']

In [51]:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [52]:
thislist = ["apple", "banana", "cherry"]
del thislist

# Clear the List
The clear() method empties the list.

The list still remains, but it has no content.

In [53]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)
del thislist
# print(thislist) here the print will not work as the danglling list is removed from python

[]

# Python - Loop Lists
# Loop Through a List
You can loop through the list items by using a for loop:

Example

In [54]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

# Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [55]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

# Using a While Loop
You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [56]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

# Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

Example

A short hand for loop that will print all items in a list:

there's a catch. The print() function returns None, and since the list comprehension is creating a new list, it's adding the result of print(x) to the list, which is None. So, the resulting list will contain four None values.

In [57]:
thislist = ["apple", "banana", "cherry","Kiwi"]
[print(x) for x in thislist]

apple
banana
cherry
Kiwi

[None, None, None, None]

# Python - List Comprehension
# List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [58]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code:

In [59]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

# The Syntax
newlist = [expression for item in iterable if condition == True]

The return value is a new list, leaving the old list unchanged.

# Condition

The condition is like a filter that only accepts the items that valuate to True.

In [60]:
newlist = [x for x in fruits if x != "apple"]

The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be omitted:

In [61]:
newlist = [x for x in fruits]

# Iterable
The iterable can be any iterable object, like a list, tuple, set etc.

In [62]:
# Example
# You can use the range() function to create an iterable:

newlist = [x for x in range(10)]

In [63]:
newlist = [x for x in range(10) if x < 5]

# Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

Example

Set the values in the new list to upper case:

In [64]:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [65]:
# You can set the outcome to whatever you like:
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

Example
Set all values in the new list to 'hello':

In [66]:
newlist = ['hello' for x in fruits]

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

Example
Return "orange" instead of "banana":

The expression in the example above says:

"Return the item if it is not banana, if it is banana return orange".

In [67]:
newlist = [x if x != "banana" else "orange" for x in fruits]

# Python - Sort Lists
# Sort List Alphanumerically
List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [68]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [69]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [70]:
thislist = ["orange", "mango", "apple","kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['apple', 'banana', 'kiwi', 'mango', 'orange', 'pineapple']

# Sort Descending
To sort descending, use the keyword argument reverse = True:

In [71]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [72]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

# Customize Sort Function
You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [73]:
# Sort the list based on how close the number is to 50
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

# Case Insensitive Sort
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

Example

Case sensitive sorting can give an unexpected result:

In [74]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [75]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

# Reverse Order list
What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [76]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

# Python - Copy Lists

# Copy a List

+ You cannot copy a list simply by typing __list2 = list1__, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

# Use the copy() method
You can use the built-in List method copy() to copy a list.

In [77]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

# Use the list() method
Another way to make a copy is to use the built-in method list().

In [78]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

# Use the slice Operator
You can also make a copy of a list by using the : (slice) operator.

In [79]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [80]:
thislist = ["apple", "banana", "cherry","apple","apple"]
print(thislist.count("apple"))

3

# Python - Join Lists
# Join Two Lists
There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [81]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Another way to join two lists is by appending all the items from list2 into list1, one by one:

Example

In [82]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, where the purpose is to add elements from one list to another list:

Example

Use the extend() method to add list2 at the end of list1:

In [83]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Python Tuples
mytuple = ("apple", "banana", "cherry")
# Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [84]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

# Tuple Items
Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

# Ordered
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

# Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

# Allow Duplicates
Since tuples are indexed, they can have items with the same value:

# Tuple Methods
Python has two built-in methods that you can use on tuples.

|Method	|Description
|:------:|:----------|
|count()	|Returns the number of times a specified value occurs in a tuple
|index()	|Searches the tuple for a specified value and returns the position of where it was found

In [85]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

# Tuple Length
To determine how many items a tuple has, use the len() function:

In [86]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

# Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [87]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

thistuple = ["apple"]
print(type(thistuple))

<class 'tuple'>
<class 'str'>
<class 'list'>

# Tuple Items - Data Types
Tuple items can be of any data type:

In [88]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male")
i=0
while i<=4:
    if i==1:
        print(tuple1)
    elif i==2:
        print(tuple2)
    elif i==3:
        print(tuple3)
    elif i==4:
        print(tuple4)
    else:
        print("Invalid input")
    i+=1

Invalid input
('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)
('abc', 34, True, 40, 'male')

# type()
From Python's perspective, tuples are defined as objects with the data type 'tuple':

<class 'tuple'>

In [89]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

# The tuple() Constructor
It is also possible to use the tuple() constructor to make a tuple.

Example

Using the tuple() method to make a tuple:

In [90]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)
print(tuple)

('apple', 'banana', 'cherry')
<class 'tuple'>

# Access Tuple Items
You can access tuple items by referring to the index number, inside square brackets:

In [91]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

# Negative Indexing
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

Example

In [92]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

# Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [93]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

Note: The search will start at index 2 (included) and end at index 5 (not included).

Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

Example

This example returns the items from the beginning to, but NOT included, "kiwi":

In [94]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')

# Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the tuple:

Example

This example returns the items from index -4 (included) to index -1 (excluded)

In [95]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

# Check if Item Exists
To determine if a specified item is present in a tuple use the in keyword:

In [96]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Python - Update Tuples
Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

# Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [97]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Add Items
Since tuples are immutable, they do not have a built-in append() method, but there are other ways to add items to a tuple.

### 1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [98]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

### 2. Add tuple to a tuple. You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

In [99]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

# Remove Items
Note: You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [100]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [101]:
# Or you can delete the tuple completely:

# Example
# The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
# print(thistuple)       #this will raise an error because the tuple no longer exists

# Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

# Packing a tuple:

In [102]:
fruits = ("apple", "banana", "cherry")

in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

Example
# Unpacking a tuple:

In [103]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

### The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

# Using Asterisk*
If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

In [104]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)
print(type(green),type(yellow),type(red),type(fruits))

apple
banana
['cherry', 'strawberry', 'raspberry']
<class 'str'> <class 'str'> <class 'list'> <class 'tuple'>

If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left

In [105]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Loop Through a Tuple
You can loop through the tuple items by using a for loop.

In [106]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

# Loop Through the Index Numbers
You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [107]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

# Using a While Loop
You can loop through the tuple items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [108]:

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

# Join Two Tuples
To join two or more tuples you can use the + operator:

Example

Join two tuples:

In [109]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply Tuples
If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [110]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

### Note: Sets are unordered, so you cannot be sure in which order the items will appear.

In [111]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

# Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

# Duplicates Not Allowed
Sets cannot have two items with the same value.

# Set Methods
Python has a set of built-in methods that you can use on sets.

|Method	|Shortcut	|Description
|:----:|:----------:|:-----------|
|add()	| | 	Adds an element to the set
clear()	 | | 	Removes all the elements from the set
copy()	 | |	Returns a copy of the set
difference()|	- |	Returns a set containing the difference between two or more sets
difference_update()|	-=	|Removes the items in this set that are also included in another, specified set
discard()	| |	Remove the specified item
intersection()|	& |	Returns a set, that is the intersection of two other sets
intersection_update() |	&=	| Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	|| 	Returns whether two sets have a intersection or not
issubset()	| <= |	Returns whether another set contains this set or not
 |	|<|	Returns whether all items in this set is present in other, specified set(s)
issuperset()|	>= |	Returns whether this set contains another set or not
| 	| > |	Returns whether all items in other, specified set(s) is present in this set
pop()	| | 	Removes an element from the set
remove() | |	 	Removes the specified element
symmetric_difference()	| ^ |	Returns a set with the symmetric differences of two sets
symmetric_difference_update() |	^= |	Inserts the symmetric differences from this set and another
-----------------------------------------------------------------------------------------------------------

union()

	|	

	Return a set containing the union of sets

update()	

|=	

Update the set with the union of this set and others

In [112]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [113]:
thisset = {"apple", "banana", "cherry", True, 1, 53,69,2,False,0}

print(thisset)
# Example
# True and 1 is considered the same value:

hisset = {"apple", "banana", "cherry", True, 1,0, 2,False}

print(hisset)

{False, True, 2, 69, 'banana', 'apple', 53, 'cherry'}
{0, True, 2, 'apple', 'cherry', 'banana'}

# it is unordered  but it starts with false true bool values then the int values then the string values unordered

In [114]:
# The values False and 0 are considered the same value in sets, and are treated as duplicates:

# Example
# False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

# Get the Length of a Set
To determine how many items a set has, use the len() function.

In [115]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# Set Items - Data Types
Set items can be of any data type:

Example

String, int and boolean data types:

In [116]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set1 = {"abc", 34, True, 40, "male"}

# type()
From Python's perspective, sets are defined as objects with the data type 'set':

<class 'set'>
Example
What is the data type of a set?

In [117]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

# The set() Constructor
It is also possible to use the set() constructor to make a set.

In [118]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

# Access Set Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [119]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [120]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [121]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

#  Add Set Items
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [122]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'apple', 'banana', 'orange'}

# Add Sets
To add items from another set into the current set, use the update() method.

In [123]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'apple', 'mango', 'papaya', 'cherry', 'banana'}

# Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [124]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'banana', 'kiwi', 'apple', 'cherry'}

# Remove Set Item
To remove an item in a set, use the remove(), or the discard() method.

In [125]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

# If the item to remove does not exist, remove() will raise an error.

In [126]:
# Example
# Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The return value of the pop() method is the removed item.

Example

Remove a random item by using the pop() method:

In [127]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

# The clear() method empties the set:

In [128]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

# The del keyword will delete the set completely:

In [129]:
thisset = {"apple", "banana", "cherry"}

del thisset

# print(thisset)     # the value is already deleted

# Loop set Items
You can loop through the set items by using a for loop:

In [130]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

# Join Sets
There are several ways to join two or more sets in Python.

* The union() and update() methods joins all items from both sets.

* The intersection() method keeps ONLY the duplicates.

* The difference() method keeps the items from the first set that are not in the other set(s).

* The symmetric_difference() method keeps all items EXCEPT the duplicates.

# Union
The union() method returns a new set with all items from both sets.

In [131]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 'a', 1, 2, 3, 'c'}

# You can use the | operator instead of the union() method, and you will get the same result.

In [132]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'b', 'a', 1, 2, 3, 'c'}

# Join Multiple Sets
All the joining methods and operators can be used to join multiple sets.

When using a method, just add more sets in the parentheses, separated by commas:

In [133]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)


set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{1, 2, 3, 'cherry', 'bananas', 'b', 'a', 'apple', 'c', 'John', 'Elena'}
{1, 2, 3, 'cherry', 'bananas', 'b', 'a', 'apple', 'c', 'John', 'Elena'}

# Join a Set and a Tuple
The union() method allows you to join a set with other data types, like lists or tuples.

The result will be a set.

In [134]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)
print(type(z))

# The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

{1, 2, 3, 'b', 'a', 'c'}
<class 'set'>

# Update
The update() method inserts all items from one set into another.

The update() changes the original set, and does not return a new set.

In [135]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 'a', 1, 2, 3, 'c'}

# Intersection
Keep ONLY the duplicates

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [136]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

# You can use the & operator instead of the intersection() method, and you will get the same result.

In [137]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

In [138]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

# Difference
The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

In [139]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'cherry', 'banana'}

# you can use the - operator instead of the difference() method, and you will get the same result.

In [140]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

 The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

Example
Use the difference_update() method to keep the items that are not present in both sets:

In [141]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

# Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [142]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

# You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

In [143]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

# The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

The symmetric_difference_update() method will also keep all but the duplicates, but it will change the original set instead of returning a new set.

Example
Use the symmetric_difference_update() method to keep the items that are not present in both sets:

In [144]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'cherry', 'microsoft', 'google'}

# Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

# Ordered or Unordered?
As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items do not have a defined order, you cannot refer to an item by using an index.

# Changeable
Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

# Duplicates Not Allowed
Dictionaries cannot have two items with the same key:

# Dictionary Methods
Python has a set of built-in methods that you can use on dictionaries.

|Method	|Description
|:-------:|:----------|
|clear()	|Removes all the elements from the dictionary
copy()|	Returns a copy of the dictionary
fromkeys()|	Returns a dictionary with the specified keys and value
get()|	Returns the value of the specified key
items()|	Returns a list containing a tuple for each key value pair
keys()	|Returns a list containing the dictionary's keys
pop()	|Removes the element with the specified key
popitem()|	Removes the last inserted key-value pair
setdefault()|	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
update()	|Updates the dictionary with the specified key-value pairs
values()	|Returns a list of all the values in the dictionary

In [145]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Dictionary Items
Dictionary items are ordered, changeable, and do not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [146]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

# Duplicate values will overwrite existing values:

In [147]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

# Dictionary Length
To determine how many items a dictionary has, use the len() function:

In [148]:
print(len(thisdict))

3

# Dictionary Items - Data Types
The values in dictionary items can be of any data type:

In [149]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)
print("\n",thisdict["brand"],thisdict["colors"])

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

 Ford ['red', 'white', 'blue']

# type()
From Python's perspective, dictionaries are defined as objects with the data type 'dict':

<class 'dict'>

In [150]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

# The dict() Constructor
It is also possible to use the dict() constructor to make a dictionary.

In [151]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

# Access Dictionary Items
You can access the items of a dictionary by referring to its key name, inside square brackets:

In [152]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [153]:
# There is also a method called get() that will give you the same result:
# Example
# Get the value of the "model" key:

x = thisdict.get("model")

# Get Keys

The keys() method will return a list of all the keys in the dictionary.

In [154]:
x = thisdict.keys()


# The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [155]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
print(car)
x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

# Get Values
The values() method will return a list of all the values in the dictionary.

In [156]:
x = thisdict.values()

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [157]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [158]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

# Get Items
The items() method will return each item in a dictionary, as tuples in a list.

In [159]:
x = thisdict.items()

 The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

In [160]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

# Check if Key Exists
To determine if a specified key is present in a dictionary use the in keyword:

In [161]:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

#  Change Dictionary Items
# Change Values
You can change the value of a specific item by referring to its key name:

In [162]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

# Update Dictionary
The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [163]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

# Add Dictionary Items
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [164]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

# Update Dictionary
The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [165]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

# Remove Dictionary Items
 * The pop() method removes the item with the specified key name:
 * The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
 * The del keyword removes the item with the specified key name:
 * The clear() method empties the dictionary:

In [166]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [167]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [168]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [169]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
# print(thisdict) #this will cause an error because "thisdict" no longer exists.

In [170]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

# Loop Through a Dictionary
You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well.

In [171]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

Print all key names in the dictionary, one by one:

In [172]:
for x in thisdict:
  print(x)

brand
model
year

Print all values in the dictionary, one by one:

In [173]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

You can also use the values() method to return values of a dictionary:

In [174]:
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

You can use the keys() method to return the keys of a dictionary:

In [175]:
for x in thisdict.keys():
  print(x)

brand
model
year

Loop through both keys and values, by using the items() method:

In [176]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

# Copy a Dictionary
You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [177]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [178]:
# nother way to make a copy is to use the built-in function dict().

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

# Nested Dictionaries
A dictionary can contain dictionaries, this is called nested dictionaries.

In [179]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)
# print('\n',x,y)
# The line print('\n',x,y) is trying to print the values of x and y, but at this point, x and y are not defined. This will result in a NameError because x and y are not assigned any values before this line. The correct output would be an error message, something like NameError: name 'x' is not defined.
print('\n')
for x, y in myfamily.items():
  print(x, y)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}


child1 {'name': 'Emil', 'year': 2004}
child2 {'name': 'Tobias', 'year': 2007}
child3 {'name': 'Linus', 'year': 2011}

 if you want to add three dictionaries into a new dictionary:

Example

Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

In [180]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

# Access Items in Nested Dictionaries
To access items from a nested dictionary, you use the name of the dictionaries, starting with the outer dictionary:

Example

Print the name of child 2:

In [181]:
print(myfamily["child2"]["name"])

Tobias

# Loop Through Nested Dictionaries
You can loop through a dictionary by using the items() method like this:

Example

Loop through the keys and values of all nested dictionaries:

In [182]:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

In [1]:

print("Muhammad Musa")
print('L1F23BSAI0039')

Muhammad Musa
L1F23BSAI0039

In [3]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')
print("He is called \'Johnny")
print("He is called \"Johnny")

It's alright
He is called 'Johnny'
He is called "Johnny"
He is called 'Johnny
He is called "Johnny

# multiy line string

In [8]:
x='''HEllo world 
how are 
you () doing'''
print(type(x))
print(x)

x="""HEllo world 
how are 
you (1) doing'''  spaces    """
print(type(x))
print(x)
print("""hello how are you doing
      it is a message of 
      multiline string """)
print("""The formating will be the same so
you will have to fix it in 
               this form of printing
as you can see""")

<class 'str'>
HEllo world
how are
you () doing
<class 'str'>
HEllo world
how are
you (1) doing'''  spaces
hello how are you doing
      it is a message of
      multiline string
The formating will be the same so
you will have to fix it in
               this form of printing
as you can see

In [9]:
x='''HEllo world 
how are 
you () doing'''
print(type(x))
print(x)

<class 'str'>
HEllo world
how are
you () doing

> string like a array
> indexing

In [12]:
x="hello pokemon"
print(x[0])

print(x[8])

print(x[-3])

h
k
m

In [13]:
x="hello pokemon"
print(len(x))

13

In [14]:
x="hello pokemon"
print('pok' in x)
print('he' in x[0])
print('h' in x[0])

print('pkl' in x)

print('euyqu' in x)

True
False
True
False
False

In [16]:
x="hello pokemon"
if 'pok' in x:
    print(1,"it is present in the string")

if 'he' in x[0]:
    print(2,"it is present in the string")
    
if 'h' in x[0]:
    print(3,"it is present in the string")

if 'pkl' in x:
    print(4,"it is present in the string")

if 'o p' in x:
    print(5,"it is present in the string")
    
if 'op' in x:
    print(6,"it is present in the string")

1 it is present in the string
3 it is present in the string
5 it is present in the string

In [17]:
x="hello pokemon"
print('pok' not in x)
print('he' not in x[0])
print('h' not in x[0])

print('pkl' not in x)

print('euyqu' not in x)

False
True
False
True
True

In [19]:
x="hello pokemon"
if 'pok'not in x:
    print(1,"it is not present in the string")

if 'he' not in x[0]:
    print(2,"it is not present in the string")
    
if 'h' not in x[0]:
    print(3,"it is not present in the string")

if 'pkl' not in x:
    print(4,"it is not present in the string")

if 'o p' not in x:
    print(5,"it is not present in the string")
    
if 'op' not in x:
    print(6,"it is not present in the string")

2 it is not present in the string
4 it is not present in the string
6 it is not present in the string

# slicing in string

In [185]:
x='I love pakistan'
print(x[2:6])
print(x[2:10])
print(x[:6])
print(x[-2:6])
print(x[-6:-2])

love
love pak
I love

kist

In [24]:
x='I love pakistan'
print(x[-2:8])

In [21]:
x='I love pakistan'
print(x[2:])

love pakistan

In [20]:
x='I love pakistan'
print(x[:6])

I love

In [59]:
text = "hello"
encoded_text = text.encode("utf-8")  # Encodes the string using UTF-8
print(encoded_text)

b'hello'

In [60]:
text = "Hello\tWorld"
print(text.expandtabs(4))

Hello   World

In [61]:
data = {"name": "Alice", "age": 25}
template = "Name: {name}, Age: {age}"
print(template.format_map(data))

Name: Alice, Age: 25

In [62]:
text = "Hello!"
print(text.isascii())

True

In [80]:
text = "0.1280"
print(text.isdecimal())

False

In [64]:
text = "variable_name"
print(text.isidentifier())

True

In [65]:
text = "123"
print(text.isnumeric())

True

In [66]:
text = "Hello\nWorld"
print(text.isprintable())

False

In [67]:
text = "Hello"
print(text.ljust(10))

Hello

In [68]:
table = str.maketrans("aeiou", "12345")
text = "hello world"
print(text.translate(table))

h2ll4 w4rld

In [69]:
table = str.maketrans({"a": "1", "b": "2"})
text = "abc"
print(text.translate(table))

12c

In [70]:
text = "apple-orange-banana"
print(text.partition("-"))

('apple', '-', 'orange-banana')

In [71]:
text = "apple orange apple"
print(text.rfind("apple"))

13

In [72]:
text = "apple orange apple"
print(text.rindex("apple"))

13

In [73]:
text = "Hello"
print(text.rjust(10))

     Hello

In [74]:
text = "apple-orange-banana"
print(text.rpartition("-"))

('apple-orange', '-', 'banana')

In [75]:
text = "apple,orange,banana"
print(text.rsplit(",", 1))

['apple,orange', 'banana']

In [76]:
text = "Hello\nWorld"
print(text.splitlines())

['Hello', 'World']

In [77]:
text = "Hello World"
print(text.swapcase())

hELLO wORLD

# string math

In [186]:
s1='Great' 
s2='Pakistan'
s3=s1+s2
s4=s1+' '+s2
print(s3)
print(s4)
print(s2*3)

GreatPakistan
Great Pakistan
PakistanPakistanPakistan

In [53]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [54]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [55]:
name = "World"
result = f"Hello {name}"
print(result)

Hello World

In [56]:
name = "World"
result = "Hello {}".format(name)
print(result)

Hello World

In [57]:
name = "World"
result = "Hello %s" % name
print(result)

Hello World

In [58]:
string = "Hello"
string += " World"
print(string)

Hello World

In [25]:

text = "hello world"
print(text.capitalize())

Hello world

In [26]:
text = "HELLO"
print(text.casefold())

hello

In [50]:
text = "Python"
print("hello i am",text.center(10),"studying")

hello i am   Python   studying

In [28]:
text = "apple banana apple"
print(text.count("apple"))

2

In [51]:
text = "example.txt"
print(text.endswith(".txt"))

True

In [30]:
text = "where is the apple?"
print(text.find("apple"))

13

In [52]:
text = "where is the orange?"
print(text.find("apple"))

-1

In [31]:
text = "locate apple in apple"
print(text.index("apple"))

7

In [32]:
text = "abc123"
print(text.isalnum())

True

In [33]:
text = "abc"
print(text.isalpha())

True

In [34]:
text = "1234"
print(text.isdigit())

True

In [35]:
text = "hello"
print(text.islower())

True

In [36]:
text = "   "
print(text.isspace())

True

In [37]:
text = "Hello World"
print(text.istitle())

True

In [38]:
text = "HELLO"
print(text.isupper())

True

In [39]:
words = ["Python", "is", "fun"]
print(" ".join(words))

Python is fun

In [40]:
text = "HELLO"
print(text.lower())

hello

In [41]:
text = "   Python   "
print(text.lstrip())

Python

In [42]:
text = "I like apples"
print(text.replace("apples", "oranges"))

I like oranges

In [43]:
text = "Python is fun"
print(text.split())

['Python', 'is', 'fun']

In [44]:
text = "hello world"
print(text.startswith("hello"))

True

In [45]:
text = "   Python   "
print(text.strip())

Python

In [46]:
text = "hello world"
print(text.title())

Hello World

In [47]:
text = "hello"
print(text.upper())

HELLO

In [48]:
text = "42"
print(text.zfill(5))

00042

# string formattting

In [187]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)
price = 59.5689 # auto round off if used this way
txt = f"The price is {price:.2f} dollars"
print(txt)
txt = f"The price is {20 * 59} dollars"
print(txt)

My name is John, I am 36
The price is 59.00 dollars
The price is 59.57 dollars
The price is 1180 dollars

In [188]:
item="apple"
qty=5
rate=20
s1="i Want to buy {} {} which are at {} rupess"
print(s1.format(qty,item,rate))
s2="so you want to buy {1} which are at this rate= {2} and you want to buy {0} of them so your total will be {3} "
print(s2.format(qty,item,rate,rate*qty))

i Want to buy 5 apple which are at 20 rupess
so you want to buy apple which are at this rate= 20 and you want to buy 5 of them so your total will be 100

# Escape sequence

In [81]:
# Backslash (\)
print("This is a backslash: \\")

# Single Quote (\')
print('It\'s a sunny day')

# Double Quote (\")
print("She said, \"Hello!\"")

# New Line (\n)
print("Hello\nWorld")

# Tab (\t)
print("Hello\tWorld")

# Carriage Return (\r)
print("Hello\rWorld")  # "World" overwrites "Hello"

# Backspace (\b)
print("Helloo\b World")  # Removes the extra 'o'

# Form Feed (\f)
print("Hello\fWorld")  # Form feed splits vertically, used in old printers

# Vertical Tab (\v)
print("Hello\vWorld")  # Adds a vertical tab space

# ASCII Bell (\a)
print("Hello\aWorld")  # Triggers a sound alert if supported

# Null Character (\0)
print("Hello\0World")  # Represents a null character

# Unicode Name (\N{name})
print("\N{GREEK SMALL LETTER ALPHA}")  # Outputs  (Greek alpha)

# Unicode (\uXXXX - 16-bit)
print("\u03B1")  # Outputs  (Greek alpha)

# Unicode (\UXXXXXXXX - 32-bit)
print("\U000003B1")  # Outputs  (Greek alpha)

# Octal Value (\ooo)
print("\110\145\154\154\157")  # Outputs "Hello" (ASCII octal values)

# Hex Value (\xhh)
print("\x48\x65\x6C\x6C\x6F")  # Outputs "Hello" (ASCII hex values)

This is a backslash: \
It's a sunny day
She said, "Hello!"
Hello
World
Hello	World
World
Hello World
HelloWorld
HelloWorld
HelloWorld
Hello World



Hello
Hello

In [82]:
path = "C:\\Users\\Username\\Documents"
print(f"File path: {path}")

File path: C:\Users\Username\Documents

In [83]:
quote = 'It\'s a sunny day'
print(f"Quote: {quote}")

Quote: It's a sunny day

In [84]:
dialogue = "She said, \"Hello!\""
print(f"Dialogue: {dialogue}")

Dialogue: She said, "Hello!"

In [85]:
message = "Hello\nWorld"
print(f"Message:\n{message}")

Message:
Hello
World

In [86]:
table = "Name\tAge\tLocation\nJohn\t25\tUSA\nSara\t30\tUK"
print(f"Table:\n{table}")

Table:
Name	Age	Location
John	25	USA
Sara	30	UK

In [87]:
text = "Hello\rWorld"
print(f"Carriage Return Example: {text}")

Worldage Return Example: Hello

In [88]:
typo = "Helloo\b"
print(f"Fixed Typo: {typo} World")

Fixed Typo: Hello World

In [89]:
formatted_text = "Hello\fWorld"
print(f"Form Feed Example:\n{formatted_text}")

Form Feed Example:
HelloWorld

In [90]:
vertical_tab = "Hello\vWorld"
print(f"Vertical Tab Example:\n{vertical_tab}")

Vertical Tab Example:
HelloWorld

In [91]:
alert = "Hello\aWorld"
print(f"ASCII Bell Example: {alert}")

ASCII Bell Example: HelloWorld

In [92]:
null_example = "Hello\0World"
print(f"Null Character Example: {null_example}")

Null Character Example: Hello World

In [93]:
greek_alpha = "\N{GREEK SMALL LETTER ALPHA}"
print(f"Greek Alpha: {greek_alpha}")

Greek Alpha:

In [94]:
unicode_16bit = "\u03B1"
print(f"16-bit Unicode Example: {unicode_16bit}")

16-bit Unicode Example:

In [95]:
unicode_32bit = "\U000003B1"
print(f"32-bit Unicode Example: {unicode_32bit}")

32-bit Unicode Example:

In [96]:
octal_example = "\110\145\154\154\157"
print(f"Octal Example: {octal_example}")

Octal Example: Hello

In [97]:
hex_example = "\x48\x65\x6C\x6C\x6F"
print(f"Hex Example: {hex_example}")

Hex Example: Hello

In [98]:
single="He is called \'Musa\'"
print(single)

He is called 'Musa'

In [100]:

doubleqoutes="Roll no is called \"L1F23BSAI0039\""
print(doubleqoutes)

Roll no is called "L1F23BSAI0039"

# Quotes Inside Quotes

In [189]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')
print("He is called \"Johnny\"")

It's alright
He is called 'Johnny'
He is called "Johnny"
He is called "Johnny"

# string length size

In [190]:
a = "Hello, World!"
print(len(a))

13

# Check String
To check if a certain phrase or character is present in a string, we can use the keyword in.

In [191]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [192]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

# Check if NOT
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [193]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [194]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Looping Through a String

# operators in python

+	Addition	x + y	

-	Subtraction	x - y	

*	Multiplication	x * y	

/	Division	x / y	

%	Modulus	x % y	

**	Exponentiation	x ** y	

//	Floor division	x // y

In [195]:
x = 5
y = 2

print(x+y)
#addition

7

In [196]:
x = 5
y = 2

print(x -y)
#subtract

3

In [197]:
x = 5
y = 2

print(x * y)
# multiply

10

In [198]:
x = 5
y = 2

print(x / y)
# divide

2.5

In [199]:
x = 5
y = 2

print(x % y)
# remainder (divide ans( modulas))

1

In [200]:
x = 5
y = 2

print(x**y)
# exponantioal

25

In [201]:
x = 5
y = 2
print(x/y)
print(x // y)
# flooring

2.5
2

# Python Assignment Operators

| Operator	| Example	    | Same As	
|:--------: | :------------:|:-------: |
| =       	| x =        | x = 5	
| +=	    |  x += 3  	| x = x + 3	
|-=	        |x -=        |x = x - 3	
|*=	        |x *= 3	    |x = x * 3	
| /=	        |x /= 3	    |x = x / 3	
| %=	     |   x %= 3	 |   x = x % 3	
| //=	      |  x //= 3	  |  x = x // 3	
|**=	      |  x **= 3	    |x = x ** 3	
---------------------------------------------------------------
bitwize operator
| Operator	| Example	    | Same As	
|:--------: | :------------:|:-------: |
| &=	     |   x &= 3	 |   x = x & 3	
|^=	       | x ^= 3	  |  x = x ^ 3	
| >>=	       | x >>= 3	   | x = x >> 3	
| <<=	      |  x <<= 3	  |  x = x << 3	

>>   |=	  ((()))  x|= 3  (((())))  x = x | 3
----------------------------------------------
:=	    ((()))   print(x := 3)	 (((())))   x = 3
                                             print(x)

In [202]:
x = 5

print(x)

5

In [203]:
x = 5

x += 3

print(x)

8

In [204]:
x = 5

x -= 3

print(x)

2

In [205]:
x = 5

x *= 3

print(x)

15

In [206]:
x = 5

x%=3

print(x)

2

In [207]:
x = 5

x//=3

print(x)

1

In [208]:
x = 5

x **= 3

print(x)

125

# Python Bitwise Operators

Operator	Name	Description	                                        Example	
&       	AND	    Sets each bit to 1 if both bits are 1   	        x & y	
|	        OR	    Sets each bit to 1 if one of two bits is 1      	x | y	
^	        XOR 	Sets each bit to 1 if only one of two bits is 1	    x ^ y	
~	        NOT	    Inverts all the bits	                            ~x	
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	                                                                x << 2	
>> Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off                                             	x >> 2

In [209]:
x = 5

x &= 3

print(x)

1

In [210]:
print(6 & 3)
 
"""The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
2 = 0000000000000010
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

2

'The & operator compares each bit and set it to 1 if both are 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n2 = 0000000000000010\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [211]:
x = 5

x |= 3

print(x)

7

In [212]:
print(6 | 3)



"""
The | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
7 = 0000000000000111
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

7

'\nThe | operator compares each bit and set it to 1 if one or both is 1, otherwise it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n7 = 0000000000000111\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [213]:
x = 5

x ^= 3

print(x)

6

In [214]:
print(6 ^ 3)



"""
The ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:

6 = 0000000000000110
3 = 0000000000000011
--------------------
5 = 0000000000000101
====================

Decimal numbers and their binary values:
0 = 0000000000000000
1 = 0000000000000001
2 = 0000000000000010
3 = 0000000000000011
4 = 0000000000000100
5 = 0000000000000101
6 = 0000000000000110
7 = 0000000000000111
"""

5

'\nThe ^ operator compares each bit and set it to 1 if only one is 1, otherwise (if both are 1 or both are 0) it is set to 0:\n\n6 = 0000000000000110\n3 = 0000000000000011\n--------------------\n5 = 0000000000000101\n====================\n\nDecimal numbers and their binary values:\n0 = 0000000000000000\n1 = 0000000000000001\n2 = 0000000000000010\n3 = 0000000000000011\n4 = 0000000000000100\n5 = 0000000000000101\n6 = 0000000000000110\n7 = 0000000000000111\n'

In [215]:
print(~3)



"""
The ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).

Inverted 3 becomes -4:
 3 = 0000000000000011
-4 = 1111111111111100

Decimal numbers and their binary values:
 4 = 0000000000000100
 3 = 0000000000000011
 2 = 0000000000000010
 1 = 0000000000000001
 0 = 0000000000000000
-1 = 1111111111111111
-2 = 1111111111111110
-3 = 1111111111111101
-4 = 1111111111111100
"""

-4

'\nThe ~ operator inverts each bit (0 becomes 1 and 1 becomes 0).\n\nInverted 3 becomes -4:\n 3 = 0000000000000011\n-4 = 1111111111111100\n\nDecimal numbers and their binary values:\n 4 = 0000000000000100\n 3 = 0000000000000011\n 2 = 0000000000000010\n 1 = 0000000000000001\n 0 = 0000000000000000\n-1 = 1111111111111111\n-2 = 1111111111111110\n-3 = 1111111111111101\n-4 = 1111111111111100\n'

In [216]:
x = 5

x >>= 3

print(x)

0

In [217]:
print(8 >> 2)



"""
The >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.

If you move each bit 2 times to the right, 8 becomes 2:
 8 = 0000000000001000
becomes
 2 = 0000000000000010

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

2

"\nThe >> operator moves each bit the specified number of times to the right. Empty holes at the left are filled with 0's.\n\nIf you move each bit 2 times to the right, 8 becomes 2:\n 8 = 0000000000001000\nbecomes\n 2 = 0000000000000010\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

In [218]:
x = 5

x <<= 3

print(x)

40

In [219]:
print(3 << 2)



"""
The << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:

If you push 00 in from the left:
 3 = 0000000000000011
becomes
12 = 0000000000001100

Decimal numbers and their binary values:
 0 = 0000000000000000
 1 = 0000000000000001
 2 = 0000000000000010
 3 = 0000000000000011
 4 = 0000000000000100
 5 = 0000000000000101
 6 = 0000000000000110
 7 = 0000000000000111
 8 = 0000000000001000
 9 = 0000000000001001
10 = 0000000000001010
11 = 0000000000001011
12 = 0000000000001100
"""

12

"\nThe << operator inserts the specified number of 0's (in this case 2) from the right and let the same amount of leftmost bits fall off:\n\nIf you push 00 in from the left:\n 3 = 0000000000000011\nbecomes\n12 = 0000000000001100\n\nDecimal numbers and their binary values:\n 0 = 0000000000000000\n 1 = 0000000000000001\n 2 = 0000000000000010\n 3 = 0000000000000011\n 4 = 0000000000000100\n 5 = 0000000000000101\n 6 = 0000000000000110\n 7 = 0000000000000111\n 8 = 0000000000001000\n 9 = 0000000000001001\n10 = 0000000000001010\n11 = 0000000000001011\n12 = 0000000000001100\n"

In [220]:
print(x := 3)

3

# Python Comparison Operators

Operator	Name	                            Example	
==	        Equal	                            x == y	
!=	        Not equal	                         x != y	
>	        Greater than	                    x > y	
<	        Less than	                        x < y	
>=	        Greater than or equal to	        x >= y	
<=	        Less than or equal to           	x <= y

In [221]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [222]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [223]:
x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [224]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [225]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [226]:
x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

# Python Logical Operators

Operator	Description	                                                              Example	
and 	    Returns True if both statements are true            	                x < 5 and  x < 10	
or	        Returns True if one of the statements is true       	                x < 5 or x < 4	
not	        Reverse the result, returns False if the result is true	                not(x < 5 and x < 10)

In [227]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [228]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [229]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

# Python Identity Operators

Operator	        Description	                                                          Example	
is              	Returns True if both variables are the same object	                   x is y	
is not	            Returns True if both variables are not the same object	            x is not y

In [230]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [231]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

# Python Membership Operators

Operator	                Description	                                                         Example	
in 	        Returns True if a sequence with the specified value is present in the object	    x in y	
not in	    Returns True if a sequence with the specified value is not present in the object	x not in y

In [232]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [233]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

# Python Conditions and If statements

Python supports the usual logical conditions from mathematics:

Equals: a == b
Not Equals: a != b
Less than: a < b
Less than or equal to: a <= b
Greater than: a > b
Greater than or equal to: a >= b
These conditions can be used in several ways, most commonly in "if statements" and loops.

In [234]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

Indentation
Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

Example
If statement, without indentation (will raise an error):

a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

# Elif

The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [235]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

# Else

The else keyword catches anything which isn't caught by the preceding conditions.

In [236]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In this example a is greater than b, so the first condition is not true, also the elif condition is not true, so we go to the else condition and print to screen that "a is greater than b".

You can also have an else without the elif:

In [237]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

# Short Hand If
If you have only one statement to execute, you can put it on the same line as the if statement.

In [238]:
if a > b: print("a is greater than b")

a is greater than b

# Short Hand If ... Else
If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [239]:
a = 2
b = 330
print("A") if a > b else print("B")

B

# This technique is known as Ternary Operators, or Conditional Expressions.

You can also have multiple else statements on the same line:

it can be read as print a if a>b otherwise print = if a=b  otherwise print b

In [240]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [241]:
a = 3
b = 330
print("A") if a > b else print("=") if a == b else print("B")

B

In [242]:
a = 330
b = 3
print("A") if a > b else print("=") if a == b else print("B")

A

# And
The and keyword is a logical operator, and is used to combine conditional statements:

In [243]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

# Or
The or keyword is a logical operator, and is used to combine conditional statements:

In [244]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

# Not
The not keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [245]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

## Nested If
You can have if statements inside if statements, this is called nested if statements.

In [246]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

## The pass Statement
# if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [247]:
a = 33
b = 200

if b > a:
  pass

# Python Loops
Python has two primitive loop commands:

while loops
for loops

# The while Loop
With the while loop we can execute a set of statements as long as a condition is true.


The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

In [248]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

# The break Statement
With the break statement we can stop the loop even if the while condition is true:

In [249]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

# The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

In [250]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

In [251]:
i = 1
while i < 6:
  print(i)
  i += 1
  #  here the loop whil break and when the loop will break then the else condition will run
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# Python For Loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [252]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
 print(x)

apple
banana
cherry

In [253]:
fruits = "apple banana cherry"
for x in fruits:
 if x not in 'aeiou':
   print(x)

p
p
l

b
n
n

c
h
r
r
y

# Upper Case

In [254]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

# Lower Case

In [255]:
a = "Hello, World!"
print(a.lower())

hello, world!

# Remove Whitespace

In [256]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

# Split String
The split() method returns a list where the text between the specified separator becomes the list items.

Example
The split() method splits the string into substrings if it finds instances of the separator:

In [257]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [258]:
a = "Hell,o Wor,ld!"
print(a.split(','))

['Hell', 'o Wor', 'ld!']

Method	Description
+ capitalize()	Converts the first character to upper case
+ casefold()	Converts string into lower case
+ center()	Returns a centered string
+ count()	Returns the number of times a specified value occurs in a string
+ encode()	Returns an encoded version of the string
+ endswith()	Returns true if the string ends with the specified value
+ expandtabs()	Sets the tab size of the string
+ find()	Searches the string for a specified value and returns the position of where it was found
+ format()	Formats specified values in a string
+ format_map()	Formats specified values in a string
+ index()	Searches the string for a specified value and returns the position of where it was found
+ isalnum()	Returns True if all characters in the string are alphanumeric
+ isalpha()	Returns True if all characters in the string are in the alphabet
+ isascii()	Returns True if all characters in the string are ascii characters
+ isdecimal()	Returns True if all characters in the string are decimals
+ isdigit()	Returns True if all characters in the string are digits
+ isidentifier()	Returns True if the string is an identifier
+ islower()	Returns True if all characters in the string are lower case
+ isnumeric()	Returns True if all characters in the string are numeric
+ isprintable()	Returns True if all characters in the string are printable
+ isspace()	Returns True if all characters in the string are whitespaces
+ istitle()	Returns True if the string follows the rules of a title
+ isupper()	Returns True if all characters in the string are upper case
+ join()	Converts the elements of an iterable into a string
+ ljust()	Returns a left justified version of the string
+ lower()	Converts a string into lower case
+ lstrip()	Returns a left trim version of the string
+ maketrans()	Returns a translation table to be used in translations
+ partition()	Returns a tuple where the string is parted into three parts
+ replace()	Returns a string where a specified value is replaced with a specified value
+ rfind()	Searches the string for a specified value and returns the last position of where it was found
+ rindex()	Searches the string for a specified value and returns the last position of where it was found
+ rjust()	Returns a right justified version of the string
+ rpartition()	Returns a tuple where the string is parted into three parts
+ rsplit()	Splits the string at the specified separator, and returns a list
+ rstrip()	Returns a right trim version of the string
+ split()	Splits the string at the specified separator, and returns a list
+ splitlines()	Splits the string at line breaks and returns a list
+ startswith()	Returns true if the string starts with the specified value
+ strip()	Returns a trimmed version of the string
+ swapcase()	Swaps cases, lower case becomes upper case and vice versa
+ title()	Converts the first character of each word to upper case
+ translate()	Returns a translated string
+ upper()	Converts a string into upper case
+ zfill()	Fills the string with a specified number of 0 values at the beginning

# capitalize()	
Converts the first character to upper case

In [259]:
A="hello world"
print(A.capitalize())

Hello world

# Looping Through a String
Even strings are iterable objects, they contain a sequence of characters:

In [260]:
for x in "banana":
  print(x)

b
a
n
a
n
a

# The break Statement
With the break statement we can stop the loop before it has looped through all the items:

In [261]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

Exit the loop when x is "banana", but this time the break comes before the print:

In [262]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

# The continue Statement
With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [263]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

# The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [264]:
for x in range(6):
  print(x)

0
1
2
3
4
5

he range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):

In [265]:
for x in range(2, 6):
  print(x)

2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [266]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

# Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [267]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

# The else block will NOT be executed if the loop is stopped by a break statement.

In [268]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

# Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [269]:
print (x,y ," \n\n")
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

3 ['apple', 'banana']


red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# The pass Statement
for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [270]:
for x in [0, 1, 2]:
  pass

# Creating a Function
In Python a function is defined using the def keyword:

In [271]:
def my_function():
  print("Hello from a function")

# Calling a Function
To call a function, use the function name followed by parenthesis:

In [272]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function


# Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [273]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

# + Arguments are often shortened to args in Python documentations.

# Number of Arguments
By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [274]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [275]:
# This function expects 2 arguments, but gets only 1:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [ ]:
def print_numbers( a, b, c):
    print(a)
    print(b)
    print(c)
    # print (c=a+b)
    print(" \n \n")

print_numbers(10, 20, 30)
print_numbers( c=30, a =10, b= 20 )
#print_numbers( c 30, a= 10, 28 ) as when doing somthing we will have 
a=10
b=15
c=0
print_numbers( b, a,c )

10
20
30



10
20
30



15
10
0

# return value

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# The pass Statement
function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [ ]:
def my_function():
 pass

# Positional-Only Arguments
You can specify that a function can have ONLY positional arguments, or ONLY keyword arguments.

To specify that a function can have only positional arguments, add , / after the arguments:

Example

positional-only arguments are a feature introduced in Python 3.8 that allows you to specify certain function parameters that can only be passed by position and not by keyword. This means that when you call a function with positional-only arguments, you must provide the values for these arguments in the order they are defined in the function signature.

In [ ]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [ ]:
def example_func(arg1, arg2, /, arg3, arg4):
    print(arg1, arg2, arg3, arg4)
"""
arg1 and arg2 are positional-only arguments because of the / symbol before arg3.
arg3 and arg4 can be passed either by position or by keyword.
When calling a function with positional-only arguments, you must respect the order of the arguments as defined in the function signature:

"""

'\narg1 and arg2 are positional-only arguments because of the / symbol before arg3.\narg3 and arg4 can be passed either by position or by keyword.\nWhen calling a function with positional-only arguments, you must respect the order of the arguments as defined in the function signature:\n\n'

In [ ]:
example_func(1, 2, 3, 4)  # This is valid
# example_func(1, 2, arg3=3, arg4=4)  # This will raise an error since arg3 and arg4 are not keyword arguments
# Positional-only arguments can be useful when you want to enforce a specific order for certain arguments and prevent users from passing them as keyword arguments.

1 2 3 4

# Without the , / you are actually allowed to use keyword arguments even if the function expects
But when adding the , / you will get an error if you try to send a keyword argument:

In [ ]:
def my_function(x):
  print(x)

my_function(x = 3)

3

# Arbitrary Arguments, *args
If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

Example

If the number of arguments is unknown, add a * before the parameter name:

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
def show(a, b, *args):
    print(a)
    print(b)
    print(args)
    print(args[0])

show(10, 20, 30, 30, 40, 50, 50 )

10
20
(30, 30, 40, 50, 50)
30

# Keyword Arguments
You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

Example

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

# Arbitrary Keyword Arguments, **kwargs
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

Example

If the number of keyword arguments is unknown, add a double ** before the parameter name:

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

In [ ]:
def show(a, **kargs):
    print(a)
    print(kargs)
    print(kargs['name'])
    
show(a-10, b= 20, x=30, name="Abdul", age= 20)

0
{'b': 20, 'x': 30, 'name': 'Abdul', 'age': 20}
Abdul

# Keyword-Only Arguments
To specify that a function can have only keyword arguments, add *, before the arguments:

Example

In [ ]:
def my_function(*, x):
  print(x)

my_function(x = 3)

3

Without the *, you are allowed to use positionale arguments even if the function expects keyword arguments:

Example

In [ ]:
def my_function(x):
  print(x)

my_function(3)

3

But when adding the *, / you will get an error if you try to send a positional argument:

In [ ]:
def my_function(*, x):
  print(x)

my_function(3)

TypeError: my_function() takes 0 positional arguments but 1 was given

# Combine Positional-Only and Keyword-Only
You can combine the two argument types in the same function.

Any argument before the / , are positional-only, and any argument after the *, are keyword-only.

In [ ]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

# Recursion
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

Example

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Python Lambda
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Syntax

lambda arguments : expression

The expression is executed and the result is returned:

In [ ]:
# Add 10 to argument a, and return the result:

x = lambda a : a + 10
print(x(5))

15

Lambda functions can take any number of arguments:

example

Multiply argument a with argument b and return the result:

In [ ]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

In [ ]:
hello=lambda:"hello wordld"
print(hello())
hi=lambda :print("hi how are you")
hi()
sum = lambda a,b,c,d: a+b+c+d
print(sum(1,2,3,4))

hello wordld
hi how are you
10

# Why Use Lambda Functions?

The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [ ]:
def myfunc(n):
  return lambda a : a * n

In [ ]:
# Use that function definition to make a function that always doubles the number you send in:

# Example
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [ ]:
# Or, use the same function definition to make a function that always triples the number you send in:

# Example
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [ ]:
# Or, use the same function definition to make both functions, in the same program:

# Example
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))
# Use lambda functions when an anonymous function is required for a short period of time.

22
33

# Arrays
Note: This page shows you how to use LISTS as ARRAYS, however, to work with arrays in Python you will have to import a library, like the NumPy library.

Arrays are used to store multiple values in one single variable:

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

# What is an Array?
An array is a special variable, which can hold more than one value at a time.

If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:

car1 = "Ford"

car2 = "Volvo"

car3 = "BMW"

However, what if you want to loop through the cars and find a specific one? And what if you had not 3 cars, but 300?

The solution is an array!

An array can hold many values under a single name, and you can access the values by referring to an index number.

# Python Classes and Objects

# Python Classes/Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

# Create a Class
To create a class, use the keyword class:

In [ ]:
class MyClass:
  x = 5

In [ ]:
# In [ ]: class robot:
#     def __init__(self, name, color, weight):

In [ ]:
# class is a template it  can be instantiated multiple times
# class is a blueprint for creating objects
#  bad example of how you should code  a class below is a very good example of how you should code a class

class Employee:
    pass
harry=Employee()
ali=Employee()

harry.fname="harry"
ali.fname="ali"
harry.salary="4400"

harry.lname="jackson"
ali.lname="superman"
ali.salary="4405"

ali.name=ali.fname +" "+ali.lname
harry.name=harry.fname +" "+harry.lname

print(harry.name)
print (ali.name)
print(ali.lname)
print (harry.salary)
print (ali.salary)

harry jackson
ali superman
superman
4400
4405

In [ ]:
class Employee:
    def __init__(self,fname,lname,name, salary):
        self.fname=fname
        self.lname=lname
        self.name=fname +" "+lname
        self.salary= salary
        

harry=Employee('harry','jackson','poloice',4400)
ali=Employee('ali','micalson',' ',4467)

print(harry.name)
print (ali.name)
print(ali.lname)
print (harry.salary)
print (ali.salary)

harry jackson
ali micalson
micalson
4400
4467

# Create Object
Now we can use the class named MyClass to create objects:

Example

Create an object named p1, and print the value of x:

In [ ]:
p1 = MyClass()
print(p1.x)

5

# The __init__() Function
The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

Example
Create a class named Person, use the __init__() function to assign values for name and age:

Note: The __init__() function is called automatically every time the class is being used to create a new object.

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
class Employee:
    increment=1.5
    def __init__(self,fname,lname,name, salary):
        self.fname=fname
        self.lname=lname
        self.name=fname +" "+lname
        self.salary= salary
        
        def increase

harry=Employee('harry','jackson','poloice',4400)
ali=Employee('ali','micalson',' ',4467)

print(harry.name)
print (ali.name)
print(ali.lname)
print (harry.salary)
print (ali.salary)

# The __str__() Function
The __str__() function controls what should be returned when the class object is represented as a string.

If the __str__() function is not set, the string representation of the object is returned:

Example
The string representation of an object WITHOUT the __str__() function:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x000002C92BBCAF30>

Example

The string representation of an object WITH the __str__() function:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

# Object Methods
Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

Example

Insert a function that prints a greeting, and execute it on the p1 object:

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

# The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

# The self Parameter
The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

Example

Use the words mysillyobject and abc instead of self:

In [ ]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

# Modify Object Properties
You can modify properties on objects like this:

Example

Set the age of p1 to 40:

In [ ]:
p1.age = 40

# Delete Object Properties
You can delete properties on objects by using the del keyword:

Example

Delete the age property from the p1 object:

In [ ]:
del p1.age

# Delete Objects
You can delete objects by using the del keyword:

In [ ]:

del p1

# The pass Statement
class definitions cannot be empty, but if you for some reason have a class definition with no content, put in the pass statement to avoid getting an error.

In [ ]:
class Person:
  pass

# Python Inheritance
Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

# Create a Parent Class
Any class can be a parent class, so the syntax is the same as creating any other class:

Example

Create a class named Person, with firstname and lastname properties, and a printname method:

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

# Create a Child Class
To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child class:

Example

Create a class named Student, which will inherit the properties and methods from the Person class:

In [ ]:

class Student(Person):
  pass

Note: Use the pass keyword when you do not want to add any other properties or methods to the class.

Now the Student class has the same properties and methods as the Person class.

Example

Use the Student class to create an object, and then execute the printname method:

In [ ]:
x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

# Add the __init__() Function
So far we have created a child class that inherits the properties and methods from its parent.

We want to add the __init__() function to the child class (instead of the pass keyword).

Note: The __init__() function is called automatically every time the class is being used to create a new object.

Example
Add the __init__() function to the Student class:

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    #add properties etc

SyntaxError: incomplete input (3871293591.py, line 3)

When you add the __init__() function, the child class will no longer inherit the parent's __init__() function.

Note: The child's __init__() function overrides the inheritance of the parent's __init__() function.

To keep the inheritance of the parent's __init__() function, add a call to the parent's __init__() function:

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

Now we have successfully added the __init__() function, and kept the inheritance of the parent class, and we are ready to add functionality in the __init__() function.

# Use the super() Function
Python also has a super() function that will make the child class inherit all the methods and properties from its parent:

Example

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

By using the super() function, you do not have to use the name of the parent element, it will automatically inherit the methods and properties from its parent.

# Add Properties
Example

Add a property called graduationyear to the Student class:

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

In the example below, the year 2019 should be a variable, and passed into the Student class when creating student objects. To do so, add another parameter in the __init__() function:

Example
Add a year parameter, and pass the correct year when creating objects:

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)

# Add Methods
Example

Add a method called welcome to the Student class:

In [ ]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

If you add a method in the child class with the same name as a function in the parent class, the inheritance of the parent method will be overridden

# The classmethod() is an inbuilt function in Python, which returns a class method for a given function. This means that classmethod() is a built-in Python function that transforms a regular method into a class method. When a method is defined using the @classmethod decorator (which internally calls classmethod()), the method is bound to the class and not to an instance of the class. As a result, the method receives the class (cls) as its first argument, rather than an instance (self).

### classmethod() in Python Syntax
class MyClass:


    @classmethod


    def class_method(cls, *args, **kwargs):


        # Method implementation


        pass


Python classmethod() Function
In Python, the classmethod() function is used to define a method that is bound to the class and not the instance of the class. This means that it can be called on the class itself rather than on instances of the class. Class methods are useful when you need to work with the class itself rather than any particular instance of it.

## Class Method vs Static Method
The basic difference between the class method vs Static method in Python and when to use the class method and static method in Python.

A class method takes class as the first parameter while a static method needs no specific parameters.
A class method can access or modify the class state while a static method cant access or modify it.
In general, static methods know nothing about the class state. They are utility-type methods that take some parameters and work upon those parameters. On the other hand class methods must have class as a parameter.
We use @classmethod decorator in Python to create a class method and we use @staticmethod decorator to create a static method in Python.
Example of classmethod in Python
## Create a simple classmethod
In this example, we are going to see how to create a class method in Python. For this, we created a class named Geeks with a member variable course and created a function named purchase which prints the object. Now, we passed the method Geeks.purchase into a class method using the @classmethod decorator, which converts the method to a class method. With the class method in place, we can call the function purchase without creating a function object, directly using the class name Geeks.

Example of Class Method:

In [1]:
class Geeks:
    course = 'DSA'
    list_of_instances = []

    def __init__(self, name):
        self.name = name
        Geeks.list_of_instances.append(self)

    @classmethod
    def get_course(cls):
        return f"Course: {cls.course}"

    @classmethod
    def get_instance_count(cls):
        return f"Number of instances: {len(cls.list_of_instances)}"

    @staticmethod
    def welcome_message():
        return "Welcome to Geeks for Geeks!"

# Creating instances
g1 = Geeks('Alice')
g2 = Geeks('Bob')

# Calling class methods
print(Geeks.get_course())  
print(Geeks.get_instance_count())  

# Calling static method
print(Geeks.welcome_message())

Course: DSA
Number of instances: 2
Welcome to Geeks for Geeks!

# python iterator

An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().

Iterator vs Iterable
Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator:

Example

Return an iterator from a tuple, and print each value:

In [ ]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [ ]:
'''
Even strings are iterable objects, and can return an iterator:

Example
Strings are also iterable objects, containing a sequence of characters:
'''
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

In [ ]:
'''
Looping Through an Iterator
We can also use a for loop to iterate through an iterable object:

Example
Iterate the values of a tuple:
'''
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)
#   Example
# Iterate the characters of a string:

mystr = "banana"

for x in mystr:
  print(x)
# The for loop actually creates an iterator object and executes the next() method for each loop.

apple
banana
cherry
b
a
n
a
n
a

# Create an Iterator
To create an object/class as an iterator you have to implement the methods __iter__() and __next__() to your object.

As you have learned in the Python Classes/Objects chapter, all classes have a function called __init__(), which allows you to do some initializing when the object is being created.

The __iter__() method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.

The __next__() method also allows you to do operations, and must return the next item in the sequence.

Example
Create an iterator that returns numbers, starting with 1, and each sequence will increase by one (returning 1,2,3,4,5 etc.):

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

# StopIteration
The example above would continue forever if you had enough next() statements, or if it was used in a for loop.

To prevent the iteration from going on forever, we can use the StopIteration statement.

In the __next__() method, we can add a terminating condition to raise an error if the iteration is done a specified number of times:

Example
Stop after 20 iterations:

In [ ]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20